//Countdown component
#countdown_container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border-top: 2px blue solid;
    border-bottom: 2px blue solid;
}

#countdown_container > div {
    width: 25%;
    height: 15rem;
    color: white;
    text-align: center;
    background-color: #696969;
}

#countdown_container > div > h3 {
    font-size: 3rem;
}

#countdown_container > div > h4 {
    font-size: 2rem;
}

.offColor {
    background-color: blue !important;
}